# Project Title:
Income Prediction Challenge For Azubian

# Business Understanding:

The "Income Prediction Challenge for Azubian" is a data-driven initiative that seeks to address the critical issue of income inequality in developing nations. The project focuses on utilizing machine learning techniques to predict whether an individual's income falls above or below a specific income threshold. By developing a robust predictive model, we aim to contribute to more accurate and cost-effective methods of monitoring key population indicators, such as income levels, between census years. This valuable information will empower policymakers to take more informed actions to mitigate and manage income inequality on a global scale.

## 1. Introduction:
This project aims to predict the estimated time of arrival (ETA) for Algerian ride-hailing business Yassir. ETA prediction is crucial in the ride-hailing industry to provide accurate and reliable arrival time estimates to passengers, thereby improving the user experience and operational efficiency.

### 1.1. Objectives:

- **Income Prediction Model:** 
The primary goal is to create a machine learning model capable of determining whether an individual's income exceeds a specified threshold.


- **Economic Inequality Mitigation:** 
By accurately predicting income levels, the project aims to support the reduction of income inequality by providing policymakers with critical insights.


- **Cost and Accuracy Improvement:** 
This solution endeavors to improve the efficiency of income-level monitoring by offering a more cost-effective and precise method compared to traditional census methods.

### 1.2. Methodology:

To achieve the project objectives, we will follow the Cross-Industry Standard Process for Data Mining (CRISP-DM) framework, a process used to guide the machine learning lifecycle. It is a six-phase process consisting of these key phases:

**i. Business Understanding:**
- Gain a deep understanding of the problem, its significance, and the potential impact of addressing income inequality.
- Define the objectives and the F1 score evaluation metric for model performance.

**ii. Data Understanding:**
- Load the provided training, testing and variable definitions datasets.
- Explore the provided datasets, including variable descriptions.
- Analyze the Train.csv dataset, which includes target income labels, to understand the data's structure and relationships.

**iii. Data Preparation:**
- Preprocess the data by handling missing values and data anomalies.
- Perform feature engineering to prepare the data for model training.

**iv. Modeling:**
- Select and implement machine learning algorithms suitable for classification tasks.
- Train the predictive models on the Train.csv dataset using features to predict income labels.

**v. Evaluation:**
- Assess the models' performance using the F1 score, which combines precision and recall, to ensure the model's accuracy and select the best performing model.
- Perform cross validation and hyperparameter tuning.

**vi. Deployment:**
- Deploy the trained model for prediction on the Test.csv dataset, which does not include target-related columns.
- The deployment to be done through one of these frameworks; Streamlit, Gradio or FastAPI through Docker Containerization and deployment on Hugging Face. This will allow external users to interact with the application.

By following the CRISP-DM framework, we aim to create a robust income prediction model that can effectively support efforts to address income inequality, provide policymakers with valuable insights, and improve the accuracy of population monitoring between census years. This project has the potential to make a significant impact on global economic equality.

# Data Understanding

## Setup

### Installations

### Importation of Relevant Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Data Loading

### Loading the Variable Definitions, Train and Test Datasets

#### Variable Definitions Dataset

In [5]:
# Reading Variable Definitions dataset
def_df = pd.read_csv('VariableDefinitions.csv')
def_df

,Column,Description
0,age,Age Of Individual
1,gender,Gender
2,education,Education
3,class,Class Of Worker
4,education_institute,Enrolled Educational Institution in last week
5,marital_status,Marital_Status
6,race,Race
7,is_hispanic,Hispanic Origin
8,employment_commitment,Full Or Part Time Employment Stat
9,unemployment_reason,Reason For Unemployment
10,employment_stat,Has Own Business Or Is Self Employed
11,wage_per_hour,Wage Per Hour
12,is_labor_union,Member Of A Labor Union
13,working_week_per_year,Weeks Worked In A Year
14,industry_code,Category
15,industry_code_main,Major Industry Code
16,occupation_code,Category
17,occupation_code_main,Major Occupation Code
18,total_employed,Num Persons Worked For Employer
19,household_stat,Detailed Household And Family Stat
20,household_summary,Detailed Household Summary In Household
21,under_18_family,Family Members Under 18
22,veterans_admin_questionnaire,Fill Inc Questionnaire For Veterans Admin
23,vet_benefit,Benefits
24,tax_status,Tax Filer Status
25,gains,Gains
26,losses,Losses
27,stocks_status,Divdends From Stocks
28,citizenship,Citizenship
29,mig_year,Year
30,country_of_birth_own,Individual's Birth Country
31,country_of_birth_father,Father's Birth Country
32,country_of_birth_mother,Mother's Birth Country
33,migration_code_change_in_msa,Migration Code Change In Msa
34,migration_prev_sunbelt,Migration Prev Sunbelt
35,migration_code_move_within_reg,Migration Code Move Within Reg
36,migration_code_change_in_reg,Migration Code Change In Reg
37,residence_1_year_ago,Live In This House Year Ago?
38,old_residence_reg,Region Of Previous Residence
39,old_residence_state,State Of Previous Residence
40,importance_of_record,Weight Of Instance
41,income_above_limit,Is income above 50k?

These variable definitions provide a clear understanding of the features and target variable used in the dataset, which is essential for data analysis and modeling.

#### Train Dataset

In [2]:
# Reading train dataset
train_df = pd.read_csv('Train.csv')
train_df.head()

,ID,age,gender,education,class,education_institute,marital_status,race,is_hispanic,employment_commitment,...,country_of_birth_mother,migration_code_change_in_msa,migration_prev_sunbelt,migration_code_move_within_reg,migration_code_change_in_reg,residence_1_year_ago,old_residence_reg,old_residence_state,importance_of_record,income_above_limit
0,ID_TZ0000,79,Female,High school graduate,NaN,NaN,Widowed,White,All other,Not in labor force,...,US,?,?,?,?,NaN,NaN,NaN,1779.74,Below limit
1,ID_TZ0001,65,Female,High school graduate,NaN,NaN,Widowed,White,All other,Children or Armed Forces,...,US,unchanged,NaN,unchanged,unchanged,Same,NaN,NaN,2366.75,Below limit
2,ID_TZ0002,21,Male,12th grade no diploma,Federal government,NaN,Never married,Black,All other,Children or Armed Forces,...,US,unchanged,NaN,unchanged,unchanged,Same,NaN,NaN,1693.42,Below limit
3,ID_TZ0003,2,Female,Children,NaN,NaN,Never married,Asian or Pacific Islander,All other,Children or Armed Forces,...,India,unchanged,NaN,unchanged,unchanged,Same,NaN,NaN,1380.27,Below limit
4,ID_TZ0004,70,Male,High school graduate,NaN,NaN,Married-civilian spouse present,White,All other,Not in labor force,...,US,?,?,?,?,NaN,NaN,NaN,1580.79,Below limit

#### Test Dataset

In [4]:
# Reading test dataset
test_df = pd.read_csv('Test.csv')
test_df.head()

,ID,age,gender,education,class,education_institute,marital_status,race,is_hispanic,employment_commitment,...,country_of_birth_father,country_of_birth_mother,migration_code_change_in_msa,migration_prev_sunbelt,migration_code_move_within_reg,migration_code_change_in_reg,residence_1_year_ago,old_residence_reg,old_residence_state,importance_of_record
0,ID_TZ209499,54,Male,High school graduate,Private,NaN,Married-civilian spouse present,White,All other,Children or Armed Forces,...,US,US,unchanged,NaN,unchanged,unchanged,Same,NaN,NaN,3388.96
1,ID_TZ209500,53,Male,5th or 6th grade,Private,NaN,Married-civilian spouse present,White,Central or South American,Full-time schedules,...,El-Salvador,El-Salvador,?,?,?,?,NaN,NaN,NaN,1177.55
2,ID_TZ209501,42,Male,Bachelors degree(BA AB BS),Private,NaN,Married-civilian spouse present,White,All other,Full-time schedules,...,US,US,?,?,?,?,NaN,NaN,NaN,4898.55
3,ID_TZ209502,16,Female,9th grade,NaN,High school,Never married,White,All other,Children or Armed Forces,...,US,US,unchanged,NaN,unchanged,unchanged,Same,NaN,NaN,1391.44
4,ID_TZ209503,16,Male,9th grade,NaN,High school,Never married,White,All other,Not in labor force,...,US,US,?,?,?,?,NaN,NaN,NaN,1933.18

## Hypothesis

**Null Hypothesis (H0):** There is no significant association between an individual's education level and the likelihood of having an income above the specified threshold.


**Alternative Hypothesis (H1):** Individuals with higher education levels are significantly more likely to have incomes above the specified threshold.


- The null hypothesis (H0) suggests that education level and income level are not related, meaning that having a higher education level does not increase the likelihood of earning an income above the threshold.

- The alternative hypothesis (H1) posits that there is a significant association between education level and income level, indicating that higher education levels are linked to a higher likelihood of having an income above the threshold.

We will conduct statistical tests to either accept or reject the null hypothesis in favor of the alternative hypothesis based on the evidence provided by the dataset.

## Key Analytical Questions:

To gain insights into the dataset and validate the hypothesis, we can formulate several key analytical questions for EDA:

i. What is the distribution of income levels in the dataset (above the threshold vs. below the threshold)?

- This question will provide an initial understanding of the balance between the two income categories.

ii. How does age relate to income levels in the dataset?

- Analyzing the age distribution among individuals with different income levels may reveal patterns related to age and income.

iii. Is there a significant gender-based income disparity?

- Exploring income levels based on gender can help us understand if gender plays a role in income categorization.

iv. What is the distribution of education levels among individuals with different income levels?

- Analyzing the educational backgrounds of individuals in both income categories can help assess the hypothesis regarding education and income.

v. Are there differences in employment status between the two income groups?

- Investigating the employment status and commitment of individuals based on income categories can provide insights into the relationship between employment and income.

vi. How do race and ethnicity correlate with income levels in the dataset?

- Understanding the distribution of income levels across different racial and ethnic groups can shed light on potential disparities.

vii. Are capital gains and losses associated with higher incomes?

- Examining the presence and amounts of capital gains and losses can help determine their impact on income levels.

viii. What is the relationship between occupation and income categories?

- Analyzing the occupation categories and their distribution among income groups can provide insights into employment roles.

ix. Do migration patterns or changes in residence relate to income levels?

- Investigating migration and residence changes may reveal how geographic mobility affects income.

x. How does tax status correspond to income levels?

Analyzing tax filing status can provide information about the impact of tax-related factors on income.

By exploring these key analytical questions, we can perform an in-depth EDA to uncover patterns, correlations, and potential factors influencing income levels. Additionally, it will help us determine whether our initial hypothesis regarding education and income holds true in this dataset.

## Exploratory Data Analysis (EDA):

### Understanding the datasets

An in-depth exploration of the datasets is presented to gain insights into the available variables,their distributions and relationships. This step will provide an initial undertanding of the datasets to identify any data quality issues that will inform the cleaning and pre-processing.

#### i. Column Information of The Datasets

In [3]:
# Column information of the train dataset
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 209499 entries, 0 to 209498
Data columns (total 43 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   ID                              209499 non-null  object
 1   age                             209499 non-null  int64
 2   gender                          209499 non-null  object
 3   education                       209499 non-null  object
 4   class                           104254 non-null  object
 5   education_institute             13302 non-null   object
 6   marital_status                  209499 non-null  object
 7   race                            209499 non-null  object
 8   is_hispanic                     209499 non-null  object
 9   employment_commitment           209499 non-null  object
 10  unemployment_reason             6520 non-null    object
 11  employment_stat                 209499 non-null  int64
 12  wage_per_hour                   209499 non-null  int64
 13  is_labor_union                  20079 non-null   object
 14  working_week_per_year           209499 non-null  int64
 15  industry_code                   209499 non-null  int64
 16  industry_code_main              209499 non-null  object
 17  occupation_code                 209499 non-null  int64
 18  occupation_code_main            103805 non-null  object
 19  total_employed                  209499 non-null  int64
 20  household_stat                  209499 non-null  object
 21  household_summary               209499 non-null  object
 22  under_18_family                 57845 non-null   object
 23  veterans_admin_questionnaire    2084 non-null    object
 24  vet_benefit                     209499 non-null  int64
 25  tax_status                      209499 non-null  object
 26  gains                           209499 non-null  int64
 27  losses                          209499 non-null  int64
 28  stocks_status                   209499 non-null  int64
 29  citizenship                     209499 non-null  object
 30  mig_year                        209499 non-null  int64
 31  country_of_birth_own            209499 non-null  object
 32  country_of_birth_father         209499 non-null  object
 33  country_of_birth_mother         209499 non-null  object
 34  migration_code_change_in_msa    207911 non-null  object
 35  migration_prev_sunbelt          121047 non-null  object
 36  migration_code_move_within_reg  207911 non-null  object
 37  migration_code_change_in_reg    207911 non-null  object
 38  residence_1_year_ago            103215 non-null  object
 39  old_residence_reg               16351 non-null   object
 40  old_residence_state             16351 non-null   object
 41  importance_of_record            209499 non-null  float64
 42  income_above_limit              209499 non-null  object
dtypes: float64(1), int64(12), object(30)
memory usage: 68.7+ MB

- The train dataset contains 209,499 rows and 43 columns.


- The columns include various demographic and socioeconomic features, as well as the target variable "income_above_limit," which indicates whether the individual's income is above or below the income threshold ($50,000)


- Many columns contain missing values. For example, 'class,' 'education_institute,' 'unemployment_reason,' 'is_labor_union,' 'under_18_family,' 'veterans_admin_questionnaire,' 'old_residence_reg,' 'old_residence_state,' 'migration_code_change_in_msa,' 'migration_prev_sunbelt,' 'migration_code_move_within_reg,' and 'migration_code_change_in_reg' have significant missing values.

In [23]:
# Column information of the test dataset
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89786 entries, 0 to 89785
Data columns (total 42 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   ID                              89786 non-null  object
 1   age                             89786 non-null  int64
 2   gender                          89786 non-null  object
 3   education                       89786 non-null  object
 4   class                           44707 non-null  object
 5   education_institute             5616 non-null   object
 6   marital_status                  89786 non-null  object
 7   race                            89786 non-null  object
 8   is_hispanic                     89786 non-null  object
 9   employment_commitment           89786 non-null  object
 10  unemployment_reason             2680 non-null   object
 11  employment_stat                 89786 non-null  int64
 12  wage_per_hour                   89786 non-null  int64
 13  is_labor_union                  8464 non-null   object
 14  working_week_per_year           89786 non-null  int64
 15  industry_code                   89786 non-null  int64
 16  industry_code_main              89786 non-null  object
 17  occupation_code                 89786 non-null  int64
 18  occupation_code_main            44513 non-null  object
 19  total_employed                  89786 non-null  int64
 20  household_stat                  89786 non-null  object
 21  household_summary               89786 non-null  object
 22  under_18_family                 24814 non-null  object
 23  veterans_admin_questionnaire    927 non-null    object
 24  vet_benefit                     89786 non-null  int64
 25  tax_status                      89786 non-null  object
 26  gains                           89786 non-null  int64
 27  losses                          89786 non-null  int64
 28  stocks_status                   89786 non-null  int64
 29  citizenship                     89786 non-null  object
 30  mig_year                        89786 non-null  int64
 31  country_of_birth_own            89786 non-null  object
 32  country_of_birth_father         89786 non-null  object
 33  country_of_birth_mother         89786 non-null  object
 34  migration_code_change_in_msa    89135 non-null  object
 35  migration_prev_sunbelt          52062 non-null  object
 36  migration_code_move_within_reg  89135 non-null  object
 37  migration_code_change_in_reg    89135 non-null  object
 38  residence_1_year_ago            44189 non-null  object
 39  old_residence_reg               7116 non-null   object
 40  old_residence_state             7116 non-null   object
 41  importance_of_record            89786 non-null  float64
dtypes: float64(1), int64(12), object(29)
memory usage: 28.8+ MB

#### ii. Shape of The Datasets

In [24]:
# The shape of the train dataset
train_df.shape

(209499, 43)

In [25]:
# The shape of the test dataset
test_df.shape

(89786, 42)

#### iii. Summary Statistics Datasets

In [26]:
# Summary Statistics of The Train Dataset
train_df.describe().round(3)

,age,employment_stat,wage_per_hour,working_week_per_year,industry_code,occupation_code,total_employed,vet_benefit,gains,losses,stocks_status,mig_year,importance_of_record
count,209499.000,209499.000,209499.000,209499.000,209499.000,209499.000,209499.000,209499.000,209499.000,209499.000,209499.000,209499.0,209499.000
mean,34.519,0.177,55.433,23.159,15.332,11.322,1.956,1.516,435.927,36.882,194.533,94.5,1740.888
std,22.307,0.556,276.757,24.398,18.050,14.461,2.365,0.851,4696.360,270.383,1956.376,0.5,995.560
min,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,94.0,37.870
25%,15.000,0.000,0.000,0.000,0.000,0.000,0.000,2.000,0.000,0.000,0.000,94.0,1061.290
50%,33.000,0.000,0.000,8.000,0.000,0.000,1.000,2.000,0.000,0.000,0.000,94.0,1617.040
75%,50.000,0.000,0.000,52.000,33.000,26.000,4.000,2.000,0.000,0.000,0.000,95.0,2185.480
max,90.000,2.000,9999.000,52.000,51.000,46.000,6.000,2.000,99999.000,4608.000,99999.000,95.0,18656.300

In [27]:
# Summary Statistics of The Test Dataset
test_df.describe().round(3)

,age,employment_stat,wage_per_hour,working_week_per_year,industry_code,occupation_code,total_employed,vet_benefit,gains,losses,stocks_status,mig_year,importance_of_record
count,89786.000,89786.000,89786.000,89786.000,89786.000,89786.000,89786.000,89786.000,89786.000,89786.000,89786.000,89786.000,89786.000
mean,34.586,0.176,54.339,23.224,15.377,11.298,1.956,1.518,421.978,36.773,198.926,94.501,1738.264
std,22.346,0.554,265.198,24.418,18.063,14.445,2.364,0.849,4610.516,268.401,1893.917,0.500,990.837
min,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,94.000,42.820
25%,15.000,0.000,0.000,0.000,0.000,0.000,0.000,2.000,0.000,0.000,0.000,94.000,1059.115
50%,33.000,0.000,0.000,8.000,0.000,0.000,1.000,2.000,0.000,0.000,0.000,95.000,1617.345
75%,50.000,0.000,0.000,52.000,33.000,26.000,4.000,2.000,0.000,0.000,0.000,95.000,2193.735
max,90.000,2.000,9400.000,52.000,51.000,46.000,6.000,2.000,99999.000,4608.000,99999.000,95.000,12960.200

#### iv. Checking for Missing Values in The Datasets

In [54]:
#define a function to print the missing values in the datasets
def show_missing_values(datasets):
    for name, data in datasets.items():
        title = f"Missing values in the {name.capitalize()} dataset:"
        underline = '*' * len(title)  # Create an underline of asterisks
        print(title)
        print(underline)
        
        # Calculate the sum of missing values for each column
        missing_values = data.isnull().sum()
        
        # Exclude columns with 0 as missing values
        missing_values = missing_values[missing_values > 0]
        
        # Check if there are any columns with missing values
        if not missing_values.empty:
            
            # Calculate the percentage of missing values
            missing_percentages = ((missing_values / len(data)) * 100).round(2)
            
            # Display the columns with missing values, the count of missing values, and their percentages
            missing_info = pd.DataFrame({
                'Column': missing_values.index, 
                'Missing Values': missing_values,
                'Missing Values Percentage (%)': missing_percentages
            })
            
            # Use to_string to remove index column
            print(missing_info.to_string(index=False))  
            print('===' * 26)
        else:
            # If no missing values found, indicate that
            print("No missing values found.")
        print()

# Call the function to show missing values in the datasets
show_missing_values(datasets)

Missing values in the Train dataset:
************************************
                        Column  Missing Values  Missing Values Percentage (%)
                         class          105245                          50.24
           education_institute          196197                          93.65
           unemployment_reason          202979                          96.89
                is_labor_union          189420                          90.42
          occupation_code_main          105694                          50.45
               under_18_family          151654                          72.39
  veterans_admin_questionnaire          207415                          99.01
  migration_code_change_in_msa            1588                           0.76
        migration_prev_sunbelt           88452                          42.22
migration_code_move_within_reg            1588                           0.76
  migration_code_change_in_reg            1588                           0.76
          residence_1_year_ago          106284                          50.73
             old_residence_reg          193148                          92.20
           old_residence_state          193148                          92.20
==============================================================================

Missing values in the Test dataset:
***********************************
                        Column  Missing Values  Missing Values Percentage (%)
                         class           45079                          50.21
           education_institute           84170                          93.75
           unemployment_reason           87106                          97.02
                is_labor_union           81322                          90.57
          occupation_code_main           45273                          50.42
               under_18_family           64972                          72.36
  veterans_admin_questionnaire           88859                          98.97
  migration_code_change_in_msa             651                           0.73
        migration_prev_sunbelt           37724                          42.02
migration_code_move_within_reg             651                           0.73
  migration_code_change_in_reg             651                           0.73
          residence_1_year_ago           45597                          50.78
             old_residence_reg           82670                          92.07
           old_residence_state           82670                          92.07
==============================================================================

In [22]:
# Loop through each column and print unique values
for column in train_df.columns:
    unique_values = train_df[column].unique()
    print(f"Column: {column}")
    print(f"Unique Values: {unique_values}")
    print('===' * 18)
    print()

Column: ID
Unique Values: ['ID_TZ0000' 'ID_TZ0001' 'ID_TZ0002' ... 'ID_TZ99997' 'ID_TZ99998'
 'ID_TZ99999']
======================================================

Column: age
Unique Values: [79 65 21  2 70 45 53 22 73 30  4 16 43 36  5 88 40 47 59 69 50 27 39 85
 29 41 14 33 67 52 11  9 13 19 26 23 37 58 63 46 62 28 31  3 18 78 15 38
  7 35  1 20  0 48 24 56 25  8 66 71 32 75 51 10 44 42 55 74 77 34 80 17
 83 86 12 68 60 57 64 72 90 61 82  6 84 49 76 54 89 81 87]
======================================================

Column: gender
Unique Values: [' Female' ' Male']
======================================================

Column: education
Unique Values: [' High school graduate' ' 12th grade no diploma' ' Children'
 ' Bachelors degree(BA AB BS)' ' 7th and 8th grade' ' 11th grade'
 ' 9th grade' ' Masters degree(MA MS MEng MEd MSW MBA)' ' 10th grade'
 ' Associates degree-academic program' ' 1st 2nd 3rd or 4th grade'
 ' Some college but no degree' ' Less than 1st grade'
 ' Associates degree-occup /vocational'
 ' Prof school degree (MD DDS DVM LLB JD)' ' 5th or 6th grade'
 ' Doctorate degree(PhD EdD)']
======================================================

Column: class
Unique Values: [nan ' Federal government' ' Private' ' Local government'
 ' Self-employed-incorporated' ' Self-employed-not incorporated'
 ' State government' ' Without pay' ' Never worked']
======================================================

Column: education_institute
Unique Values: [nan ' High school' ' College or university']
======================================================

Column: marital_status
Unique Values: [' Widowed' ' Never married' ' Married-civilian spouse present'
 ' Divorced' ' Married-spouse absent' ' Separated'
 ' Married-A F spouse present']
======================================================

Column: race
Unique Values: [' White' ' Black' ' Asian or Pacific Islander'
 ' Amer Indian Aleut or Eskimo' ' Other']
======================================================

Column: is_hispanic
Unique Values: [' All other' ' Mexican-American' ' Central or South American'
 ' Mexican (Mexicano)' ' Puerto Rican' ' Other Spanish' ' NA' ' Cuban'
 ' Do not know' ' Chicano']
======================================================

Column: employment_commitment
Unique Values: [' Not in labor force' ' Children or Armed Forces' ' Full-time schedules'
 ' PT for econ reasons usually PT' ' Unemployed full-time'
 ' PT for non-econ reasons usually FT' ' PT for econ reasons usually FT'
 ' Unemployed part- time']
======================================================

Column: unemployment_reason
Unique Values: [nan ' Other job loser' ' Re-entrant' ' Job leaver'
 ' Job loser - on layoff' ' New entrant']
======================================================

Column: employment_stat
Unique Values: [0 2 1]
======================================================

Column: wage_per_hour
Unique Values: [   0  500  825 ... 1949 1495  557]
======================================================

Column: is_labor_union
Unique Values: [nan ' No' 'Same']
======================================================

Column: working_week_per_year
Unique Values: [52  0 15  1 48 39 37 32 51 49 42 26 47  4 16 30 20 36 28 19 45  8 50 46
  9 40 18 25 38 12 44  5 35  2 10 34  6 24  3 41 14 43 13 17 21 22 33 23
  7 29 27 11 31]
======================================================

Column: industry_code
Unique Values: [ 0 41 33 35 22 29 38 42 43  4  8 50  5 23  2 37 34 45  3 31 36  1 47 39
 19 32 25  6 30 15 16 24 40 48 27 44  9 12 11 21 17 28  7 13 14 18 49 20
 26 46 51 10]
======================================================

Column: industry_code_main
Unique Values: [' Not in universe or children' ' Hospital services' ' Retail trade'
 ' Finance insurance and real estate' ' Manufacturing-nondurable goods'
 ' Transportation' ' Business and repair services'
 ' Medical except hospital' ' Education' ' Construction'
 ' Manufacturing-durable goods' ' Public administration' ' Agriculture'
 ' Other professional services' ' Mining'
 ' Utilities and sanitary services' ' Private household services'
 ' Personal services except private HH' ' Wholesale trade'
 ' Communications' ' Entertainment' ' Social services'
 ' Forestry and fisheries' ' Armed Forces']
======================================================

Column: occupation_code
Unique Values: [ 0 26 31  2 17 36 33  8 10 40 29 39 23 34 43 38  3 35 19 25 27 24 30  1
 32 15  5 28 37 12  4 16  7 14 44 18 13  9 42 21 41 22 11 45  6 20 46]
======================================================

Column: occupation_code_main
Unique Values: [nan ' Adm support including clerical' ' Other service'
 ' Executive admin and managerial' ' Sales'
 ' Machine operators assmblrs & inspctrs'
 ' Precision production craft & repair' ' Professional specialty'
 ' Handlers equip cleaners etc ' ' Transportation and material moving'
 ' Farming forestry and fishing' ' Private household services'
 ' Technicians and related support' ' Protective services' ' Armed Forces']
======================================================

Column: total_employed
Unique Values: [2 0 4 6 1 3 5]
======================================================

Column: household_stat
Unique Values: [' Householder' ' Nonfamily householder'
 ' Child 18+ never marr Not in a subfamily'
 ' Child <18 never marr not in subfamily' ' Spouse of householder'
 ' Child 18+ spouse of subfamily RP' ' Secondary individual'
 ' Child 18+ never marr RP of subfamily'
 ' Other Rel 18+ spouse of subfamily RP'
 ' Grandchild <18 never marr not in subfamily'
 ' Other Rel <18 never marr child of subfamily RP'
 ' Other Rel 18+ ever marr RP of subfamily'
 ' Other Rel 18+ ever marr not in subfamily'
 ' Child 18+ ever marr Not in a subfamily' ' RP of unrelated subfamily'
 ' Child 18+ ever marr RP of subfamily'
 ' Other Rel 18+ never marr not in subfamily'
 ' Child under 18 of RP of unrel subfamily'
 ' Grandchild <18 never marr child of subfamily RP'
 ' Grandchild 18+ never marr not in subfamily'
 ' Other Rel <18 never marr not in subfamily' ' In group quarters'
 ' Grandchild 18+ ever marr not in subfamily'
 ' Other Rel 18+ never marr RP of subfamily'
 ' Child <18 never marr RP of subfamily'
 ' Grandchild 18+ never marr RP of subfamily'
 ' Spouse of RP of unrelated subfamily'
 ' Grandchild 18+ ever marr RP of subfamily'
 ' Child <18 ever marr not in subfamily'
 ' Child <18 ever marr RP of subfamily'
 ' Other Rel <18 ever marr RP of subfamily'
 ' Grandchild 18+ spouse of subfamily RP'
 ' Child <18 spouse of subfamily RP'
 ' Other Rel <18 ever marr not in subfamily'
 ' Other Rel <18 never married RP of subfamily'
 ' Other Rel <18 spouse of subfamily RP'
 ' Grandchild <18 ever marr not in subfamily'
 ' Grandchild <18 never marr RP of subfamily']
======================================================

Column: household_summary
Unique Values: [' Householder' ' Child 18 or older' ' Child under 18 never married'
 ' Spouse of householder' ' Nonrelative of householder'
 ' Other relative of householder' ' Group Quarters- Secondary individual'
 ' Child under 18 ever married']
======================================================

Column: under_18_family
Unique Values: [nan ' Both parents present' ' Mother only present' ' Father only present'
 ' Neither parent present']
======================================================

Column: veterans_admin_questionnaire
Unique Values: [nan ' No' 'Same']
======================================================

Column: vet_benefit
Unique Values: [2 0 1]
======================================================

Column: tax_status
Unique Values: [' Head of household' ' Single' ' Nonfiler' ' Joint both 65+'
 ' Joint both under 65' ' Joint one under 65 & one 65+']
======================================================

Column: gains
Unique Values: [    0   991  2964  7688 99999  1848  7298  4508 15024  2290   114  3674
 14344 20051  6849  1173  2414 10605  5178  1409 25124 11678   594  4650
  7896  3411  2062  5060  3908   401 15020  4787  4386  3103  2329  1506
   914  6514  6767 18481  2228  1086  1455 14084 10520  3471  4101  4064
  2635  2829  8614 15831  2597 27828  2407 10566  7443  2354  5013  4934
  1831  3325  2993  3418  3942  2907  2346  7262  4416  2176  2885  1055
  5721  1424  3273  1797  9386  3464  2580  2174  2009  3137  6097  6418
  3432 13550  4865 22040  2936  2050  6497  2977  5455  9562  3887  2105
  1151  4931  2538  7978  2202  1264  2653  7430  3818  3781  3456  2774
  6612  5556  4687  2463  6723  1111  2961 25236  6360  2387  1471 34095
  3800  4594 41310  2227  1140  2601  2036  1090  8530  1731  1639  2098]
======================================================

Column: losses
Unique Values: [   0 2001 1977 2002 1408  625 1848 2415 1340 1672 1602 2206 1902 1740
 2339 1411 1887 2258 1741 2559 2444 2704 1579 1138 1504 3004 2377 1485
 1721 1669 3770  880 1668 2547 2042 2149  419 1974 2057 1628 1092 1590
 2051 1980 2603 1825  323 1876 3500 4356 2267 2163 1719 2179 2824 1573
 1594 1651 1617  213 1258 1648 1436 1844 2027 1421 2246 1564 2129 1429
 1755 2205 2788 1539 2174 3900 2457 2489 2392 1816 2090 2754 1735 2231
 3175  810 2597 2467 2282 1944  653 1762 1021 2352 1510 1870 2238 1911
 2722 1380  772 3683  974 4608 1726 2201  155 2080 1956 2472 1640 2465
 2519 2769]
======================================================

Column: stocks_status
Unique Values: [ 292    0  400 ... 5531 5149 3508]
======================================================

Column: citizenship
Unique Values: ['Native' ' Foreign born- Not a citizen of U S '
 ' Foreign born- U S citizen by naturalization'
 ' Native- Born abroad of American Parent(s)'
 ' Native- Born in Puerto Rico or U S Outlying']
======================================================

Column: mig_year
Unique Values: [95 94]
======================================================

Column: country_of_birth_own
Unique Values: ['US' ' ?' ' El-Salvador' ' Mexico' ' Philippines' ' Cambodia' ' China'
 ' Hungary' ' Puerto-Rico' ' England' ' Dominican-Republic' ' Japan'
 ' Canada' ' Ecuador' ' Italy' ' Cuba' ' Peru' ' Taiwan' ' South Korea'
 ' Poland' ' Nicaragua' ' Germany' ' Guatemala' ' India' ' Ireland'
 ' Honduras' ' France' ' Trinadad&Tobago' ' Thailand' ' Iran' ' Vietnam'
 ' Portugal' ' Laos' ' Panama' ' Scotland' ' Columbia' ' Jamaica'
 ' Greece' ' Haiti' ' Yugoslavia' ' Outlying-U S (Guam USVI etc)'
 ' Holand-Netherlands' ' Hong Kong']
======================================================

Column: country_of_birth_father
Unique Values: ['US' ' India' ' ?' ' Poland' ' Germany' ' El-Salvador' ' Mexico'
 ' Puerto-Rico' ' Philippines' ' Greece' ' Canada' ' Ireland' ' Cambodia'
 ' Ecuador' ' China' ' Hungary' ' Dominican-Republic' ' Japan' ' Italy'
 ' Cuba' ' Peru' ' Jamaica' ' South Korea' ' Yugoslavia' ' Nicaragua'
 ' Columbia' ' Guatemala' ' France' ' England' ' Iran' ' Honduras'
 ' Haiti' ' Trinadad&Tobago' ' Outlying-U S (Guam USVI etc)' ' Thailand'
 ' Vietnam' ' Hong Kong' ' Portugal' ' Laos' ' Scotland' ' Taiwan'
 ' Holand-Netherlands' ' Panama']
======================================================

Column: country_of_birth_mother
Unique Values: ['US' ' India' ' ?' ' Peru' ' Germany' ' El-Salvador' ' Mexico'
 ' Puerto-Rico' ' Philippines' ' Canada' ' France' ' Cambodia' ' Italy'
 ' Ecuador' ' China' ' Hungary' ' Dominican-Republic' ' Japan' ' England'
 ' Cuba' ' Poland' ' South Korea' ' Yugoslavia' ' Scotland' ' Nicaragua'
 ' Guatemala' ' Holand-Netherlands' ' Greece' ' Ireland' ' Honduras'
 ' Haiti' ' Outlying-U S (Guam USVI etc)' ' Trinadad&Tobago' ' Thailand'
 ' Jamaica' ' Iran' ' Vietnam' ' Columbia' ' Portugal' ' Laos' ' Taiwan'
 ' Hong Kong' ' Panama']
======================================================

Column: migration_code_change_in_msa
Unique Values: [' ?' 'unchanged' ' MSA to MSA' nan ' NonMSA to nonMSA' ' MSA to nonMSA'
 ' Not identifiable' ' NonMSA to MSA' ' Abroad to MSA' ' Abroad to nonMSA']
======================================================

Column: migration_prev_sunbelt
Unique Values: [' ?' nan ' No' 'Same']
======================================================

Column: migration_code_move_within_reg
Unique Values: [' ?' 'unchanged' ' Same county' ' Different state in South'
 ' Different county same state' nan ' Different state in West'
 ' Different state in Northeast' ' Abroad' ' Different state in Midwest']
======================================================

Column: migration_code_change_in_reg
Unique Values: [' ?' 'unchanged' ' Same county' ' Different state same division'
 ' Different county same state' nan ' Different region' ' Abroad'
 ' Different division same region']
======================================================

Column: residence_1_year_ago
Unique Values: [nan 'Same' ' No']
======================================================

Column: old_residence_reg
Unique Values: [nan ' South' ' Northeast' ' West' ' Midwest' ' Abroad']
======================================================

Column: old_residence_state
Unique Values: [nan ' District of Columbia' ' Michigan' ' Florida' ' Texas' ' California'
 ' North Carolina' ' Arkansas' ' Arizona' ' Ohio' ' Nebraska' ' Oregon'
 ' Utah' ' Oklahoma' ' Alaska' ' West Virginia' ' Wisconsin' ' Wyoming'
 ' South Carolina' ' Maryland' ' Nevada' ' Minnesota' ' North Dakota'
 ' Louisiana' ' Abroad' ' Kansas' ' New Jersey' ' Tennessee' ' Alabama'
 ' ?' ' Massachusetts' ' Indiana' ' Iowa' ' Vermont' ' Colorado'
 ' New Hampshire' ' New York' ' Idaho' ' Kentucky' ' Pennsylvania'
 ' New Mexico' ' Mississippi' ' Delaware' ' Illinois' ' Virginia'
 ' Montana' ' South Dakota' ' Connecticut' ' Georgia' ' Maine' ' Missouri']
======================================================

Column: importance_of_record
Unique Values: [1779.74 2366.75 1693.42 ... 1454.52 2170.6   791.61]
======================================================

Column: income_above_limit
Unique Values: ['Below limit' 'Above limit']
======================================================